.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100dvh;
    justify-content: center;
    padding: var(--space-4);
  }
  
  .card{
    border-bottom-left-radius: var(--radius-7);
    border-bottom-right-radius: var(--radius-7);
  }
  