.card{
  background-color: var(--accent-3);
  border-radius: var(--radius-7);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: var(--space-7) var(--space-5);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-3);
  flex-grow: 1;
  box-shadow: 0 -1px 30px -10px rgba(0, 0, 0, 0.1);

  @media screen and (min-width: 768px){
    border-radius: var(--radius-7);
  }
}

.card .title{
  text-align: center;
}

.card .text{
  color: var(--neutral-10);
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.card .illustration{
  margin-top: var(--space-5);
}
