@import "./variables.css";
@import "./fonts.css";

body {
  margin: 0;
  font-family: "Figtree", sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

h1,h2,h3,h4,h5,h6{
}

*{
  box-sizing: border-box;
}

button{
  font-family: inherit;
  appearance: none;
  border: none;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

@import "./theme-config.css";
