:root {
  /* SPACING */
  --space-xxl: 64px;
  --space-xl: 48px;
  --space-l: 36px;
  --space-m: 24px;
  --space-s: 12px;
  --space-xs: 8px;
  --space-xxs: 4px;

  /* TODO: clean up */
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 24px;
  --space-6: 32px;
  --space-7: 40px;
  --space-8: 48px;
  --space-9: 64px;


  /* RADII */
  --radius-1: 4px;
  --radius-2: 6px;
  --radius-3: 9px;
  --radius-4: 12px;
  --radius-5: 18px;
  --radius-6: 24px;
  --radius-7: 32px;

  /* TODO: clean up */
  /* COLORS */
  --white: #fff;
  --neutral-2: #F9F9FB;
  --neutral-9: #8B8D98;
  --neutral-10: #7E808A;
  --neutral-11: #60646C;

  --accent-3: #EDF6FF;
  --accent-5: #CEE7FE;
  --accent-7: #96C7F2;
  --accent-8: #5EB0EF;
  --accent-11: #0B68CB;

  /* TODO: rename? feels dumb */
  --surface: var(--white);
  --slate-6: #DDDDE3;
  --error-6: #F9C6C6;
  --error-9: #E5484D;
  --error-10: #D93D42;

  /* FONTS */
  --font-size-xs: 14px;
  --font-size-s: 16px;
  --font-size-m: 18px;
  --font-size-l: 22px;
  --font-size-xl: 40px;
  --font-size-xxl: 72px;

  --font-weight-regular: 400;
  --font-weight-bold: 600;
  --font-weight-black: 900;

  /* OTHER */
  --border-radius-m: 32px;

  --transition-bounce: 400ms cubic-bezier(.47,1.64,.41,.8);

  --container-width: 390px

}

@media screen and (min-width: 768px){
  :root{
    --container-width: 580px;
  }
}
